{% extends 'base.html.twig' %}

{% block title %}Contract index{% endblock %}

{% block body %}
    <h1>Contract index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Type</th>
                <th>Statut</th>
                <th>Salaire_base</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td>{{ contract.id }}</td>
                <td>{{ contract.dateDebut }}</td>
                <td>{{ contract.dateFin }}</td>
                <td>{{ contract.type }}</td>
                <td>{{ contract.statut }}</td>
                <td>{{ contract.salaireBase }}</td>
                <td>{{ contract.description }}</td>
                <td>
                    <a href="{{ path('app_contract_show', {'id': contract.id}) }}">show</a>
                    <a href="{{ path('app_contract_edit', {'id': contract.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contract_new') }}">Create new</a>
{% endblock %}
